{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.halls.show.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.halls.show.title{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <td>{{ hall.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.halls.name{% endtrans %}</th>
                <td>{{ hall.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.halls.description{% endtrans %}</th>
                <td>{{ hall.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('halls_object_index', {'id': hall.objectAddress.id}) }}">
        {% trans %}form.back.all{% endtrans %}
    </a>

    <a class="btn btn-outline-primary" href="{{ path('halls_edit', {'id': hall.id}) }}">
        {% trans %}list.edit{% endtrans %}
    </a>

    {{ include('halls/_delete_form.html.twig') }}
{% endblock %}
