{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}list.list{% endtrans %} {% trans %}list.objectAddress.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}list.list{% endtrans %} {% trans %}list.objectAddress.title{% endtrans %}</h1>
    <a class="btn btn-outline-primary" href="{{ path('object_address_new') }}">
        {% trans %}list.createNew{% endtrans %}
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <th>{% trans %}list.objectAddress.name{% endtrans %}</th>
                <th>{% trans %}list.objectAddress.phoneNumber{% endtrans %}</th>
                <th>{% trans %}list.objectAddress.email{% endtrans %}</th>
                <th>{% trans %}list.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for object_address in object_addresses %}
            <tr>
                <td>{{ object_address.id }}</td>
                <td>{{ object_address.name }}</td>
                <td>{{ object_address.phoneNumber }}</td>
                <td>{{ object_address.email }}</td>
                <td>
                    <a href="{{ path('object_address_show', {'id': object_address.id}) }}">
                        {% trans %}list.show{% endtrans %}
                    </a>
                    <a href="{{ path('object_address_edit', {'id': object_address.id}) }}">
                        {% trans %}list.edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{% trans %}list.noRecordsFound{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
