{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.objectAddress.show.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.objectAddress.show.title{% endtrans %}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{% trans %}list.id{% endtrans %}</th>
            <td>{{ object_address.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}list.objectAddress.name{% endtrans %}</th>
            <td>{{ object_address.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}list.objectAddress.street{% endtrans %}</th>
            <td>{{ object_address.street }}</td>
        </tr>
        <tr>
            <th>{% trans %}list.objectAddress.streetNumber{% endtrans %}</th>
            <td>{{ object_address.streetNumber }}</td>
        </tr>
        <tr>
            <th>{% trans %}list.objectAddress.phoneNumber{% endtrans %}</th>
            <td>{{ object_address.phoneNumber }}</td>
        </tr>
        <tr>
            <th>{% trans %}list.objectAddress.email{% endtrans %}</th>
            <td>{{ object_address.email }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('object_address_index') }}">
        {% trans %}form.back{% endtrans %}
    </a>

    <a class="btn btn-outline-primary" href="{{ path('object_address_edit', {'id': object_address.id}) }}">
        {% trans %}list.edit{% endtrans %}
    </a>

    {{ include('object_address/_delete_form.html.twig') }}
{% endblock %}
