{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}list.list{% endtrans %} {% trans %}list.todo_type.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>
        {% trans %}list.list{% endtrans %} {% trans %}list.todo_type.title{% endtrans %}
    </h1>
    <a class="btn btn-outline-primary" href="{{ path('todo_type_new') }}">{% trans %}list.createNew{% endtrans %}</a>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <th>{% trans %}list.todo_type.name{% endtrans %}</th>
                <th>{% trans %}list.todo_type.description{% endtrans %}</th>
                <th>{% trans %}list.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for todo_type in todo_types %}
            <tr>
                <td>{{ todo_type.id }}</td>
                <td>{{ todo_type.name }}</td>
                <td>{{ todo_type.description }}</td>
                <td>
                    <a href="{{ path('todo_type_show', {'id': todo_type.id}) }}">
                        {% trans %}list.show{% endtrans %}
                    </a>
                    <a href="{{ path('todo_type_edit', {'id': todo_type.id}) }}">
                        {% trans %}list.edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">{% trans %}list.idnoRecordsFound{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
