{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.todo_type.show.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>
        {% trans %}list.todo_type.show.title{% endtrans %}
    </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <td>{{ todo_type.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.todo_type.name{% endtrans %}</th>
                <td>{{ todo_type.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.todo_type.description{% endtrans %}</th>
                <td>{{ todo_type.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('todo_type_index') }}">
        {% trans %}form.back.all{% endtrans %}
    </a>

    <a class="btn btn-outline-primary" href="{{ path('todo_type_edit', {'id': todo_type.id}) }}">
        {% trans %}list.edit{% endtrans %}
    </a>

    {{ include('todo_type/_delete_form.html.twig') }}
{% endblock %}
