{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.machines.show.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.machines.show.title{% endtrans %}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{% trans %}list.id{% endtrans %}</th>
            <td>{{ machine.id }}</td>
        </tr>
        <tr>
            <th>{% trans %}list.machines.name{% endtrans %}</th>
            <td>{{ machine.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}list.machines.objectAddress{% endtrans %}</th>
            <td>{{ machine.objectAddress.name }}</td>
        </tr>
        <tr>
            <th>{% trans %}list.machines.hall{% endtrans %}</th>
            <td>{{ machine.hall ? machine.hall.name : '' }}</td>
        </tr>
        <tr>
            <th>{% trans %}list.machines.group{% endtrans %}</th>
            <td>{{ machine.groups ? machine.groups.name : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('machines_index') }}">
        {% trans %}form.back.all{% endtrans %}
    </a>

    {% if machine.hall %}
    <a class="btn btn-outline-primary" href="{{ path('machines_hall_index', {'id': machine.hall.id}) }}">
        {% trans %}form.back.hallMachines{% endtrans %}
    </a>
    {% endif %}

    {% if machine.groups %}
    <a class="btn btn-outline-primary" href="{{ path('machines_group_index', {'id': machine.groups.id}) }}">
        {% trans %}form.back.machinesGroups{% endtrans %}
    </a>
    {% endif %}

    <a class="btn btn-outline-primary" href="{{ path('machines_edit', {'id': machine.id}) }}">
        {% trans %}list.edit{% endtrans %}
    </a>

    {{ include('machines/_delete_form.html.twig') }}
{% endblock %}
