{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}list.list{% endtrans %} {% trans %}list.todo.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}list.list{% endtrans %} {% trans %}list.todo.title{% endtrans %}</h1>
    <a class="btn btn-outline-primary" href="{{ path('todo_new') }}">
        {% trans %}list.createNew{% endtrans %}
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}list.id{% endtrans %}</th>
            <th>{% trans %}list.todo.name{% endtrans %}</th>
            <th>{% trans %}list.todo.machine{% endtrans %}</th>
            <th>{% trans %}list.todo.object{% endtrans %}</th>
            <th>{% trans %}list.todo.date{% endtrans %}</th>
            <th>{% trans %}list.todo.endDate{% endtrans %}</th>
            <th>{% trans %}list.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for todo in todos %}
            <tr>
                <td>{{ todo.id }}</td>
                <td>{{ todo.title }}</td>
                <td>
                    {% if todo.machine is empty %}
                        ---
                    {% else %}
                        {{ todo.machine.name }}
                    {% endif %}
                </td>
                <td>
                    {% if todo.objectAddress is empty %}
                        ---
                    {% else %}
                        {{ todo.objectAddress.name }}
                    {% endif %}
                </td>
                <td>{{ todo.date ? todo.date|date('Y-m-d') : '' }}</td>
                <td>{{ todo.endDate ? todo.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('todo_show', {'id': todo.id}) }}">
                        {% trans %}list.show{% endtrans %}
                    </a>
                    <a href="{{ path('todo_edit', {'id': todo.id}) }}">
                        {% trans %}list.edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}list.noRecordsFound{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
