{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}list.list{% endtrans %} {% trans %}list.machines_groups.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>
        {% trans %}list.list{% endtrans %} {% trans %}list.machines_groups.title{% endtrans %}
    </h1>
    <a class="btn btn-outline-primary" href="{{ path('machines_groups_new') }}">
        {% trans %}list.createNew{% endtrans %}
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <th>{% trans %}list.machines_groups.name{% endtrans %}</th>
                <th>{% trans %}list.machines_groups.description{% endtrans %}</th>
                <th>{% trans %}list.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for machines_group in machines_groups %}
            <tr>
                <td>{{ machines_group.id }}</td>
                <td>{{ machines_group.name }}</td>
                <td>{{ machines_group.description }}</td>
                <td>
                    <a href="{{ path('machines_groups_show', {'id': machines_group.id}) }}">
                        {% trans %}list.show{% endtrans %}
                    </a>
                    <a href="{{ path('machines_groups_edit', {'id': machines_group.id}) }}">
                        {% trans %}list.edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}list.noRecordsFound{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
