{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.machines_groups.show.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>
        {% trans %}list.machines_groups.show.title{% endtrans %}
    </h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <td>{{ machines_group.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.machines_groups.name{% endtrans %}</th>
                <td>{{ machines_group.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.machines_groups.description{% endtrans %}</th>
                <td>{{ machines_group.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('machines_groups_index') }}">
        {% trans %}form.back.all{% endtrans %}
    </a>

    <a class="btn btn-outline-primary" href="{{ path('machines_groups_edit', {'id': machines_group.id}) }}">
        {% trans %}list.edit{% endtrans %}
    </a>

    {{ include('machines_groups/_delete_form.html.twig') }}
{% endblock %}
