{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.list{% endtrans %} {% trans %}list.complaints.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.list{% endtrans %} {% trans %}list.complaints.title{% endtrans %}</h1>
    <a class="btn btn-outline-primary" href="{{ path('complaints_new') }}">
        {% trans %}list.createNew{% endtrans %}
    </a>
    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}list.id{% endtrans %}</th>
            <th>{% trans %}list.complaints.partName{% endtrans %}</th>
            <th>{% trans %}list.complaints.supplier{% endtrans %}</th>
            <th>{% trans %}list.complaints.filingDate{% endtrans %}</th>
            <th>{% trans %}list.complaints.removalDate{% endtrans %}</th>
            <th>{% trans %}list.actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for complaint in complaints %}
            <tr>
                <td>{{ complaint.id }}</td>
                <td>{{ complaint.partName }}</td>
                <td>{{ complaint.supplier }}</td>
                <td>{{ complaint.filingDate ? complaint.filingDate|date('Y-m-d') : '' }}</td>
                <td>{{ complaint.removalDate ? complaint.removalDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('complaints_show', {'id': complaint.id}) }}">
                        {% trans %}list.show{% endtrans %}
                    </a>
                    <a href="{{ path('complaints_edit', {'id': complaint.id}) }}">
                        {% trans %}list.edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}list.noRecordsFound{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
