{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}list.list{% endtrans %} {% trans %}list.orders.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}list.list{% endtrans %} {% trans %}list.orders.title{% endtrans %}</h1>
    <a class="btn btn-outline-primary" href="{{ path('orders_new') }}">
        {% trans %}list.createNew{% endtrans %}
    </a>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <th>{% trans %}list.orders.name{% endtrans %}</th>
                <th>{% trans %}list.orders.supplier{% endtrans %}</th>
                <th>{% trans %}list.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.Name }}</td>
                <td>{{ order.supplier }}</td>
                <td>
                    <a href="{{ path('orders_show', {'id': order.id}) }}">
                        {% trans %}list.show{% endtrans %}
                    </a>
                    <a href="{{ path('orders_edit', {'id': order.id}) }}">
                        {% trans %}list.edit{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">{% trans %}list.noRecordsFound{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
