{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.orders.show.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.orders.show.title{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.orders.name{% endtrans %}</th>
                <td>{{ order.Name }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.orders.description{% endtrans %}</th>
                <td>{{ order.description }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.orders.supplier{% endtrans %}</th>
                <td>{{ order.supplier }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.orders.date{% endtrans %}</th>
                <td>{{ order.date ? order.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.orders.orderDate{% endtrans %}</th>
                <td>{{ order.orderDate ? order.orderDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.orders.deliveryDate{% endtrans %}</th>
                <td>{{ order.deliveryDate ? order.deliveryDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('orders_index') }}">
        {% trans %}form.back.all{% endtrans %}
    </a>

    <a class="btn btn-outline-primary" href="{{ path('orders_edit', {'id': order.id}) }}">
        {% trans %}list.edit{% endtrans %}
    </a>

    {{ include('orders/_delete_form.html.twig') }}
{% endblock %}
