{% extends 'base.html.twig' %}

{% block title %}
    {% trans %}list.list{% endtrans %} {% trans %}list.user.title{% endtrans %}
{% endblock %}

{% block body %}
    <h1>{% trans %}list.list{% endtrans %} {% trans %}list.user.title{% endtrans %}</h1>
    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <th>{% trans %}list.user.email{% endtrans %}</th>
                <th>{% trans %}list.user.firstname{% endtrans %}</th>
                <th>{% trans %}list.user.lastname{% endtrans %}</th>
                <th>{% trans %}list.actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">
                        {% trans %}list.show{% endtrans %}
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">{% trans %}list.noRecordsFound{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
