{% extends 'base.html.twig' %}

{% block title %}{% trans %}list.user.show.title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}list.user.show.title{% endtrans %}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}list.id{% endtrans %}</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.user.email{% endtrans %}</th>
                <td>{{ user.email }}</td>
            </tr>
              <tr>
                <th>{% trans %}list.user.firstname{% endtrans %}</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>{% trans %}list.user.lastname{% endtrans %}</th>
                <td>{{ user.lastname }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('user_index') }}">
        {% trans %}form.back{% endtrans %}
    </a>

    <a class="btn btn-outline-primary" href="{{ path('user_edit', {'id': user.id}) }}">
        {% trans %}list.edit{% endtrans %}
    </a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
